
pycache/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/


poetry.lock


.env
.env.*
!/.env.example # Dozvoljavamo samo primer .env fajla

_pycache_/

.idea/
.vscode/
*.swp

.pytest_cache/
.coverage
htmlcov/


/dist/
/build/
*.egg-info/

.DS_Store
Thumbs.db

/Docs